.d-table-cell.p-2 = link_to @topic.id, @topic, target: '_top'
.d-table-cell.p-2 = @topic.primary_advisor_name
.d-table-cell.p-2
  span data-tooltip="true" data-html="true" title="#{@tooltip}"
    = @topic.title
.d-table-cell.p-2 = @topic.number_of_students
.d-table-cell.p-2 = @topic.program
.d-table-cell.p-2 = render StatusComponent.new(status: @topic.status)
.d-table-cell.p-2 = render ApproveButtonComponent.new(user: @user, topic: @topic)
