<p>Hệ thống quản lý luận văn ĐHBK đã nhận được yêu cầu thiết lập lại mật khẩu cho email của bạn.</p>

<p>Nếu bạn đã yêu cầu thiết lập lại mật khẩu, vui lòng bấm vào đường dẫn sau:</p>

<p><%= link_to 'Đổi mật khẩu', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Nếu bạn không yêu cầu, vui lòng bỏ qua email này.</p>
